@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body{
    background: #f3f3f3;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1{
    font-size: 20px;
    color: #000000;
}

.cabecalho img{
    max-width:70px;
    max-height:70px;
    width: auto;
    height: auto;
}

.container-input{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height: 330px;
}

#input-texto{
    width: 345px;
    height: 330px;
    font-size: 20px;
    background: transparent;
    box-shadow: none;
    border: none;
    resize: none;
    outline: 0;
    padding: 10px;
}
    
#output{
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 20px;
    width: 350px;
    height: 500px;
    margin-right: 3%;
}

#output h2{
    text-align: center;
    font-size: 25px;;
}

#output span{
    font-size: 16px;
    text-align: center;
    padding: 10%;
}

#output img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-top: 4%;
}

.container-btn button{
    background-color: #103c74;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar{
    background-color: #103c74;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-btn button:hover{
   border: 2px solid;
   transition: 0.5s all;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 120px ;
    background: #103c74 ;
    color: #ffffff;
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: #ffffff;
}

.icons ion-icon:hover{
    color: #ffffff;
}